html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	background-color: #000;
	/* background-image: linear-gradient(141deg, #8d7ba4 20%, #6d1597 128%);
	background-size: 370px 100%;
	background-position: 50% 100px;
	background-repeat: no-repeat; */
	overflow-y: hidden;
	overflow-x: hidden;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
}


input:focus {
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

a {
	text-decoration: none;
	text-decoration-color: transparent;
}